body{
    background: #F7ECDE;
    width: auto;
    height: auto;
}
.body100{
    width: auto;
    height: 100vh;
}
.subtitle{
    font-size: x-large;
}
.title-minium{
    font-size:0.4in;
}
.container-block-1{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}
.containter-text{
    display: flex;
    width: 45%;
    padding-left: 40px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-img{
    width: 55%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.container-img > img{
    width: 600px;
	height: 400px;
}

.landing-mail{
    border-radius: 1%;
}
.buttom-google{
    width: 200px;
    height: 30px;
    background-color: white;
    margin-top: 20px;
    padding: 0;
}
.img-google{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 10px;
}
.link-google{
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container-block-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: #d2c9bc;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-block-footer > div {
    display: flex;
    align-items: center;
    margin: 0px 40px;
}
.container-block-footer > div > p{
    margin-right: 20px;
}
.nav-bar-fix{
    position: sticky;
    top: 0px;
    height: auto;
}
.nav-div{
    height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-div-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.emaily-logo {
	font-size: 2.1rem;
}

@media screen and (max-width: 1300px){
	.nav-div{
		width: 100%;
		height: 64px;
	}
}

@media screen and (max-width: 1230px){
	.container-block-1{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.containter-text{
		width: 70%;
		padding: 0;
		margin-bottom: 20px;
	}
	.container-img{
		padding: 0;
	}
}

@media screen and (max-width: 1019px){
	.title-minium{
		font-size: 35px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.container-img{
		width: auto;
	}
}

@media screen and (max-width: 600px){
	.container-img > img{
		width: 100%;
		height: 100%;
	}
	.containter-text{
		width: 90%;
	}
	.title-minium{
		line-height: 40px;
		font-weight: 700;
		text-align: left;
	}
}

@media screen and (max-width: 505px){
	.container-block-footer > div{
		margin: 0;
	}
	.container-block-footer{
		align-items: center;
		justify-content: center;
	}
}

#nav-container{
	color: black;
    margin-left: 10px;
}

/*toggle-icon*/
.toggle-icon {
	display: block;
	position: relative;
	width: 100%;
	-webkit-transition: margin 600ms;
	-moz-transition: margin 600ms;
	transition: margin 600ms;
	cursor: pointer;
}

.toggle-icon .bar {
	display: block;
	width: 1.3em;
	height: 0.2em;
	margin: 0.2em;
	border-right: .8em solid rgb(0, 0, 0);
	border-left: 0.4em solid #545454;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
	-moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
	transition-property: transform, margin, border-right-color, box-shadow;
	-webkit-transition-duration: 600ms;
	-moz-transition-duration: 600ms;
	transition-duration: 600ms;
}
	.toggle-icon .bar:nth-of-type(1) {
		-webkit-transition: opacity 300ms;
		-moz-transition: opacity 300ms;
		transition: opacity 300ms;
	}
	.toggle-icon .bar:nth-of-type(2) {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}

/*pushed*/
.pushed .toggle-icon {
	margin: -3.2em 0 0 0.7em;
}

	.pushed .bar:nth-of-type(1) {
		opacity: 0;
	}

	.pushed .bar:nth-of-type(2) {
		margin-left: 1.4em;
		-webkit-transform: rotate(-137deg) translateY(-1.5em);
		-moz-transform: rotate(-137deg) translateY(-1.5em);
		-ms-transform: rotate(-137deg) translateY(-1.5em);
		-o-transform: rotate(-137deg) translateY(-1.5em);
		transform: rotate(-137deg) translateY(-1.5em);
	}

	.pushed .bar:nth-of-type(3) {
		margin-left: 0.5em;
		-webkit-transform: rotate(-42deg);
		-moz-transform: rotate(-42deg);
		-ms-transform: rotate(-42deg);
		-o-transform: rotate(-42deg);
		transform: rotate(-42deg);
	}


.pushed .toggle-icon:hover .bar:nth-of-type(2) {
	border-right-color: #e9b8b9;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
}
.pushed .toggle-icon:hover .bar:nth-of-type(3) {
	border-right-color: #ddf1da;
	box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
}